@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(20, 20, 20);
  font-weight: bold;
  font-size: 1.2em;
  text-transform: capitalize;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 60%;
  grid-gap: 1em;
  grid-template-areas:
    ". header ."
    ". input ."
    ". holder ."
    ". giphycontainer .";
}

#header {
  /* color: rgb(104, 16, 219);
  font-size: 1.4em;
  letter-spacing: 0.125em; */
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  grid-area: input;
  display: grid;
  grid-template-columns: 5% 80% 10% 5%;
  grid-template-areas: ". inputbox button .";
}

#buttonHolder {
  grid-area: holder;
}

#giphycontainer {
  grid-area: giphycontainer;
  justify-content: center;
  align-items: center;
}

#giphycontainer img {
  margin: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newButton {
  text-align: center;
  color: white;
  font-size: 18px;
  position: relative;
  grid-area: inputbox;
  background: rgb(44, 25, 68);
  border-radius: 15px;
  border: 0;
  border-bottom: 2px solid rgb(104, 16, 219);
  border-top: 1px solid rgb(167, 99, 255);
  padding: 9px;
}

#newButton:focus {
  outline: none;
}

#buttonSubmit {
  color: white;
  width: 100%;
  height: 100%;
  max-height: 40px;
  max-width: 40px;
  border-radius: 15px;
  border: 0;
  background: rgb(44, 25, 68);
  border-left: 3px solid rgb(167, 99, 255);
  border-right: 3px solid rgb(104, 16, 219);
  grid-area: button;
}

#buttonSubit:focus {
  outline: none;
}

.button {
  width: 125px;
  height: 40px;
  cursor: pointer;
  margin: 3px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  text-align: center;
  color: white;
  background-size: cover;
  transition: 0.5s;
  border-radius: 5px;
}

.button .imgTxt {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.5s;
  transform: translate(-50%, -50%);
}

.button .blacklayer {
  width: 100%;
  height: 100%;
  background: black;
  transition: 0.5s;
  opacity: 0.8;
}

.button:hover {
  /* opacity: .3; */
  font-size: 1.2em;
  height: 100%;
  -webkit-box-shadow: -1px 3px 8px 5px rgba(104, 16, 219, 0.86);
  -moz-box-shadow: -1px 3px 8px 5px rgba(104, 16, 219, 0.86);
  box-shadow: -1px 3px 8px 5px rgba(104, 16, 219, 0.86);
}

.blacklayer:hover {
  opacity: 0.4;
}

.selected {
  transition: 0.5s;
  height: 100%;
  font-size: 1.3em;
  height: 100%;
  -webkit-box-shadow: -1px 3px 8px 5px rgba(167, 99, 255, 0.86);
  -moz-box-shadow: -1px 3px 8px 5px rgba(167, 99, 255, 0.86);
  box-shadow: -1px 3px 8px 5px rgba(167, 99, 255, 0.86);
}

.selected .blacklayer {
  opacity: 0.2;
}

small {
  color: rgb(20, 20, 20);
}
.logo {
  font: 84px "Arial Narrow", sans-serif; /* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: -4px;
}

/* stuff for both words */
.logo span {
  position: relative;
}
.logo span:before,
.logo span:after {
  content: "";
  position: absolute;
  border-width: 32px; /* makes a nice, big 64px square */
  border-style: solid;
  border-color: transparent;
  height: 0;
  z-index: 10;
}

/* stuff for 1st word */
.logo .word1 {
  color: #8632ad;
  margin-right: -38px;
  transform: rotateY(180deg); /* using Prefix free */
  display: inline-block; /* required for transform */
  z-index: 10; /* stack 1st word on top */
}

@media only screen and (max-width: 1090px) {
  body {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 1fr 1fr 2fr 60%;
  }
}

@media only screen and (max-width: 910px) {
  body {
    grid-gap: 10px;
    grid-template-columns: 1% 98% 1%;
    grid-template-rows: 1fr 1fr 2fr 60%;
  }
}

@media only screen and (max-width: 640px) {
  body {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 2fr 60%;
    grid-template-areas:
      "header"
      "input"
      "holder"
      "giphycontainer";
  }
}
