@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 7% 3% 10% 80%;
	grid-template-areas:
		". input ."
		". . ."
		". holder ."
		". giphycontainer .";
}

#input {
	grid-area: input;
	display: grid;
	grid-template-columns: 5% 80% 10% 5%;
	grid-template-areas:
		". inputbox button ."

}

#buttonHolder {
	grid-area: holder;

}

#giphycontainer {
	grid-area: giphycontainer;
	justify-content: center;
	align-items: center;
}

#giphycontainer img {
	margin: 10px;
	cursor: pointer;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#newButton {
	grid-area: inputbox
}

#buttonSubmit {
	grid-area: button
}

.button {
	width: 125px;
	height: 40px;
	cursor: pointer;
	margin: 3px;
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	text-align: center;
	color: white;
	background-size: cover;
	transition: .5s;
	border-radius: 5px
}


.button .imgTxt {
	z-index: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transition: .5s;
	transform: translate(-50%, -50%);
}

.button .blacklayer {
	width: 100%;
	height: 100%;
	background: black;
	transition: .5s;
	opacity: .8;
}

.button:hover {
	/* opacity: .3; */
	font-size: 1.25em;
	height: 100%;
}

.blacklayer:hover {
	opacity: .4;
}

.selected {
	transition: .5s;
	height: 100%;
	font-size: 1.25em;
	height: 100%;
}

.selected .blacklayer {
	opacity: .2;
}